<form>
  <div>
    <label><strong>{{i18n "community_canned_replies.title.name"}}</strong></label>
    {{input class="community-canned-replies-form-title-input" value=title}}
  </div>

  <div>
    <label><strong>{{i18n "community_canned_replies.content.name"}}</strong></label>
    {{d-editor class="community-canned-replies-form-content-input" value=content}}
  </div>
</form>
