.community-canned-replies-modal {
  max-width: 1080px;
  .community-canned-replies-sort-usage,
  .community-canned-replies-sort-alpha {
    display: inline-block;

    .btn {
      float: none;
    }
  }

  .content {
    margin-top: 10px;
  }
}

.mobile-view .community-canned-replies-modal {
  min-height: 50vh;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;

  .content {
    max-height: 50vh;
  }

  .select-kit {
    width: 100%;
  }
  .d-editor-preview-wrapper {
    display: none;
  }
}

.community-canned-replies-footer {
  margin-top: 3px;
}

.community-canned-reply-title:hover {
  background-color: $highlight-medium;
  cursor: pointer;
}

#reply-control {
  .community-canned-replies {
    height: 100%;
    width: 100%;
  }

  .community-canned-reply {
    padding-bottom: 1em;
  }
}

.community-canned-replies-form-title-input {
  width: 100%;
}
